/* CSS for sidebar */
html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
/* CSS for sidebar som endrer på størrelse, posisjon og farge. */
.sidebar{   
    width: 15vw;
    height: 90rem;
    left: 0;
    top: 0;
    position: fixed;                
    background: #1e1e1e;
    float: left;
    margin: 0;
    padding: 0;
}
/* CSS for å trykke på meny. Endrer også cursor.*/
label #knapp{
  float: right;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  display: none;
}
/* CSS for sidebar overskrift*/
.sidebar header{
    font-size: 1vw;
    width: 100%;
    color: white;
    line-height: 70px;
    text-align: center;
    font-family: Cambria, Cochin;
  
  }
  /* CSS for meny lenkene som har endrer på størrelse, posisjon, farge og skrift.*/
  .sidebar a{
    display: block; 
    height: 5vw;
    width:5vw;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
    text-decoration: none;
    padding-right: 16px;
  }
  /* CSS for når lenker har blitt trukket på og når musepeker er over.*/
  a.active,a:hover{
    border-left: 5px solid #8bf8f3;
    color: #9bf8ef;
  }
  /* CSS for sidebar tekst som er også lenker.*/
  .sidebar a span{
    letter-spacing: 1px;
    font-size: 1vw;
    text-transform: uppercase;
    
  }
  .info-btn{
    position: relative;
      color: black;
      background: #8bf8f3;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.3vw;
      padding: 0.5vw 1vw;
      border-radius: 0.5vw;
      transition: 0.1s;
    }
  /*media-query for tablets og mobiler   */
  @media (max-width: 992px) {
    /* CSS media-query for tablets og mobiler som hjelper til 
    med skalerbarheten til enheter som mobiler og tablets*/
    .sidebar {
      background-color: white;
      text-align: center;
      position: fixed;
      width: 100%;
      margin-bottom: 1%;
      height: 4rem; 
      z-index: 1;
    }
    .sidebar header{
      background: #1e1e1e;
      font-size: 2.5vw;
      padding-top: 1%;  
      padding-bottom: 1%;
      top: 0;
    }
    label #knapp{
      position: relative;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      right: 7%;
      top: 1rem;
    }
    .sidebar a{
      display: inline-block;
      background-color: #1e1e1e;
      height: 100%;
      width: 100%;
      position: relative; 
      padding-bottom: 6rem;
   
    }  
    .sidebar a span{
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 2.9vw;
    }
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }

  }
/* CSS for hjemmesiden */
.info-btn{
  position: relative;
    color: black;
    background: #8bf8f3;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    transition: 0.1s;
  }
  
.info-btn:hover{
    background: black;
    color: white;
  
  }
/*CSS for artikkel-sidene(tilgjengelighet og booking)       */
/*gridsystem til artikler*/
/*CSS for tekst og grid layout*/
article {
  padding-bottom: 10%;
  padding-top: 0;
  position: inherit;
  display: grid;
  grid-template-columns: 1fr 2fr 1vw 45vw 0.5vw 1fr 1fr;
}
/*CSS for endring av posisjon og størrelse på grid layout for tekst*/
article > * {
  grid-column: 4;
  position: inherit;
}
/*CSS for endring av posisjon og størrelse på grid layout for bilde*/
article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
  position: inherit;
  
}
/*CSS for posisjon, størrelse og farge for blockquoe*/
article > blockquote {
  grid-column: 3 / span 2;
  margin: 0px 0;
  color: #666;
  border-left: 3px solid black;
  padding-left: 10px;
  font-size: 1.3rem;
}
/*CSS for posjisjon og størrelse*/
article > * {
  min-width: 0;
  position: relative;
}
/*CSS for endring av font og størrelsen for h1*/
article > h1 {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}
/*CSS for endring av font og størrelsen for h2*/
article > h2 {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
}
/*CSS for endring font og størrelsen for p*/
article > p {    
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
}
/*CSS for endring på posisjon og størrelsen til et bilde*/
article  img {
  display: inline-block;
  width: 84%;
  margin-left: 15vw;
  position: static;

}

/*media-query for tablets*/
    /* CSS media-query for tablets som hjelper til 
    med skalerbarheten til enheter som  tablets*/
@media (max-width: 992px) {
  article{
      grid-template-columns: 2fr 1fr 0.5vw 95vw 0.5vw 1fr 1fr;
      background-color: white;
      padding-top:  4rem;
      padding-left:2% ;
      padding-right: 2%;
      display: inline-block;
  }
  article > h1 {
      margin-top: 15%;
      font-family: Geneva, Tahoma, sans-serif;
  }
  article img{
      margin-left: 0;
      width: 100%;
  }


}
/*media-query for mobiler, vi måtte gjøre en endring for tittelen*/
@media (max-width: 480px) {
  article{
      padding-top: 23vw;
  }
}
/* Generell CSS for lister */
ul{
  text-align: left;
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* CSS for kafe-siden */
.dessert.mat{
width: auto;
text-align: center
}

@font-face{
font-family: tittel;
src: url('https://fonts.googleapis.com/css?family=Skranji');
}
/**/
.rett:nth-child(odd){
margin-left: 10%;
}
/* CSS for div rett i kafe.html*/
.rett {
  width: 33%;
  height: 30.9rem;
  margin: 16px;
  text-align: center;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  box-shadow: 0.3vw 0.3vw 0.6vw 0.2vw grey;
  border-radius: 2em 2em 2em 2em;

}    
/* CSS for div class="rett" i kafe.html sin tittel som endrer teksten sin utseende. */
.rett-tittel{
  font-family: Verdana;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 900;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  
}
/* CSS som endrer utseende til tekst i class="rett"*/
.rett p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
  font-size:1.1rem;
}
/* CSS for bildene  som tilhører rettene*/
.bilder {
  width: 100%;
  height: 14rem;
  border-radius: 2em 2em 0em 0em;
 box-shadow:0px 1px 1px #392f2f;
  margin-bottom: 10px;
}
/* CSS for class="allergener" */
.allergener {
margin: 0 auto;
margin-left: 5%;
margin-bottom: 10px;
margin-right: 80%;

display: grid;
grid-template-areas: 
  "a b c c";
gap: 0.2rem;
}
/*CSS foe endring av bilde på mat i meny*/
.allergen img{
width: 1.5em;
height: 1.5rem;
}
/*CSS for endring av farge, størrelse og utseende til meny boksene*/
.allergen {
background: rgba(139, 230, 238, 0.9);
width: 4em;
height: 4em;
padding: .75rem .75rem;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 1rem;
}
/* CSS for endring av utseende og størrelse til div class="pris"*/
.pris {
width: auto;
height: 2rem;
background-color: #ca1111;
-webkit-border-radius: 3px 4px 4px 3px;
-moz-border-radius: 3px 4px 4px 3px;
border-radius: 3px 4px 4px 3px;
border-left: 1px solid #979797;
position: sticky;
color: white;
font-weight: 300;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.4rem;
line-height: 38px;
padding: 0 10px 0 10px;
}
/* CSS som endrer bredden til 100%*/
.container {
width: 100%;

}

/* CSS som justerer plasseringen av div id="retter"*/

#retter {
  position: relative;
  top: 0px;
  left: 210px;
}
/* CSS som justerer størrelse, plasseringen og endrer utseende av div id="apning" */
#apning {
  position:absolute;
  text-align: center;
  border:2px inset rgb(71, 71, 84);
  top: 15%;
  left: 48%;
  height:12rem;
  width:16rem;
  background-color: white;
}
/* CSS som justerer størrelse, plasseringen og endrer utseende av div id="apning" */
#kontakt {
  position: absolute;
  border:2px outset grey;
  text-align: center;
  left: 43%;
  top:45%;
  height:17rem;
  width:25rem;
  background-color: white;
}

.mat{
  display: none;
}

/*  media-query for mobiler */
    /* CSS media-query for  mobiler som hjelper til 
    med skalerbarheten til enheter som mobiler. */
@media (max-width: 992px) {
.rett {
position: relative;
width: 90%;
height: 90%;
grid-template-columns: auto;
text-align: center;
right:14.2rem;
top: 7rem;
float: right;
padding: 0.1rem;
padding-bottom: 2rem;
}
.rett p{
font-size: 1.6rem;
}
.rett img{
height: fit-content;
}
.rett-tittel{
font-size: 2rem;
}

.allergener{
gap: 1rem;
margin-bottom: 2rem;
}
.allergen img{
height: 2rem;
width: 2rem;
}
.allergen{
height: 100%;
width: 95%;
font-size: 2rem;
}
.pris{
height: 100%;
width: 100%;
font-size: 2rem;
position: inherit;
}
.dessert.mat{
float: right;
width: auto;
text-align: center
}
#apning{
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
}
#kontakt{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
}

